<section class="header_section">
  <div class="banner_img_container">
    <img src="./assets/img/hacker-news.svg">
  </div>
</section>
<section class="list_section">
 <div class="menu_container">
   <button class="menu_btn menu_btn_active" id="btn_all" (click)="toggleList()"  >
     <p class="menu_text">All</p>
   </button>
   <button class="menu_btn" id="btn_faves" (click)="toggleList()" >
     <p class="menu_text">My faves</p>
   </button>
 </div>
  <div class="selector_container">
    <select class="front_selector">
      <option class="front_selector_option" value="angular">
        <IMG src="a.jpg">
        Angular
      </option>
      <option class="front_selector_option" value="reacjs">
        <IMG src="b.jpg">
        Reacjs
      </option>
      <option class="front_selector_option" value="vuejs">
        <IMG src="c.jpg">
        Vuejs
      </option>
    </select>
  </div>
</section>
<section class="pagination_section"></section>
