section.header_section {
  height: 114px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, #ececec,#ffffff);
}

.banner_img_container {
  margin-left: 10.40%;
}

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.menu_btn {
  width: 8rem;
  height: fit-content;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  transition: linear .3s;
}
button.menu_btn:hover{
  opacity: 0.7;
}

p.menu_text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 0.75rem;
}

.menu_btn_active{
  border: solid 1px #1797ff !important;
  color: #1797ff;
  transition: linear .3s;
}

.menu_btn_active:hover{
  opacity: 0.7;
}

.selector_container {
  margin-left: 10.40%;
  margin-top: 63px;

}
button.front_selector_bar_button {
  width: 240px;
  height: 32px;
  margin: 63px 114px 1px 150px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
}
ul.front_selector_box {
  width: 22%;
  height: fit-content;
  margin: 0 0 0 1px;
  padding: 15px 15px 12px 10px;
  box-shadow: 0 2px 2px 0 #dad8d8;
  background-color: #fff;
  position:absolute;
  z-index:1;
  transition: visibility .3s;
}

li.front_selector_option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: linear .3s;
}
li.front_selector_option:hover{
  opacity: 0.7;
}

img.front_icon {
  width: 24px;
  height: 24px;
  margin: 5px 5px 5px 5px;
  object-fit: contain;
}

button.front_selector_option_button {
  width: 5rem;
  height: 22px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1rem;
  letter-spacing: normal;
  color: #343434;
  border: 0px;
  background-color: white;
  text-align: left;
}
.front_selector_bar_button_container {
  width: 25%;
  height: 32px;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: linear .3s;
}

.front_selector_bar_button_container:hover{
  opacity: 0.7;
  border: solid 1px #1797ff !important;
  color: #1797ff !important;
}

.list_container {
  margin-left: 8.4%;
  margin-top: 37px;
}

.list_element {
  opacity: 1;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 45%;
  margin: 2%;
  transition: opacity linear .5s;
}
.list_element:hover{
  opacity: 0.4;
}

.reaction_container {
  height: 6rem;
  width: 6rem;
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border-radius: 6px;
  background-color: #ececec;
}

section.list_section {
  background-color: #fcfcfc;
}

img.reaction_img {
  height: 25px;
}

.date_container{
  display: flex;
  justify-content: flex-start;
}

img.date_icon {
  height: 16px;
}

span.date {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
  margin-left: 5px;
}

p.text_info {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

a {
  cursor: default;
  text-decoration: none;
  margin-left: 3%;
  width: 100%;
}

.list_element_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.reaction_button {
  border: none;
}

.pagination_container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

button.pagination_button {
  width: 32px;
  height: 32px;
  margin: 0 8px;
  border-radius: 50px;
  border: solid 1px #d9d9d9;
  background-color: #fff;
  transition: linear .3s;
}

button.pagination_btn_active{
  border: solid 1px #ea2d2d !important;
  background-color: #ea2d2d;
}
